[run]
source = pyflac
relative_files = True

omit =
    */tests/*
    .tox/*
    setup.py
    */__init__.py
    */__main__.py
    */examples/*
    */libraries/*
    */builder/*

[report]
omit =
    */tests/*
    .tox/*
    setup.py
    */__init__.py
    */__main__.py
    */examples/*
    */libraries/*
    */builder/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError
