include LICENSE.txt
include README.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include examples/*.py
include tests/__init__.py
include tests/data/*.wav
include tests/data/*.flac
include tests/test_encoder.py
include tests/test_decoder.py
include pyflac/builder/*.py
include pyflac/include/FLAC/*.h
include pyflac/libraries/LICENSE
include pyflac/libraries/darwin-x86_64/*.dylib
include pyflac/libraries/linux-x86_64/*.so
include pyflac/libraries/raspbian-armv7a/*.so
include pyflac/libraries/raspbian-armv6z/*.so
include pyflac/libraries/windows-i686/*.dll
include pyflac/libraries/windows-i686/*.lib
include pyflac/libraries/windows-x86_64/*.dll
include pyflac/libraries/windows-x86_64/*.lib
